.header-content {
  padding: 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .header-content>nav>ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  #home, #about, #skills {
    padding: 20px;

    max-width: 900px;
  }

  #skills>ul>li {
    list-style-type: square;
  }
  
@media (max-width: 858px) {
  body {
    background-attachment: fixed;
  }

  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-content > nav > ul {
    padding: 0;
    flex-direction: column;
    gap: 10px;
  }

  .main-content {
    font-size: var(--font-size-small);
  }

  #home, #about, #skills {
    max-width: 500px;
  }
}
  