.main-content {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  #home, #about, #skills {
    padding: 20px;
  }

  #home {
    height: 35vh;
  }

  #about, #skills {
    height: 85vh;
  }

  #skills>ul>li {
    list-style-type: square;
  }
  
@media (max-width: 960px) {
  body {
    background-attachment: fixed;
  }

  .main-content {
    font-size: var(--font-size-small);
  }

  #home, #about, #skills {
    max-width: 500px;
    height: 100%;
  }
}
  