* {
  box-sizing: border-box;
  outline: 1px solid red;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-main);
  color: var(--text-silver);
}

body {
  background: var(--bg-dark) url("../../assets/img/bg-moon.png") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
  
  h1, h2, h3 {
    font-weight: 600;
  }

  ul>li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--text-light);
  }

  .main-content {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-size: var(--font-medium-size);
  }
  
  .footer-content {
    padding: 20px;
    text-align: center;
    color: var(--text-light);
    font-size: var(--font-size-small);
  }
  