:root {
    --primary-color: #137ef0;
    --secondary-color: #6c757d;
    --bg-light: #f8f9fa;
    --bg-dark: #121212;
    --linear-start: #000000;
    --linear-end: #1f1c1c;
    --text-dark: #212529;
    --text-light: #E0E0E0;
    --text-silver: #D0D0D0;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-large-size: 2rem;
    --font-medium-size: 1.5rem;
    --font-size-small: 1rem;
  }